.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, min-content));
  grid-template-rows: minmax(350px, 1fr);
  grid-auto-rows: minmax(350px, 1fr);
  grid-gap: 20px;
  padding-top: 2rem;
  margin: 2rem;
  justify-content: center;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(auto-fit, minmax(160px, min-content));
    grid-template-rows: minmax(260px, 1fr);
    grid-auto-rows: minmax(260px, 1fr);
    margin: 1rem;
  }
}

.card {
  // width: 23rem;
  // height: 32rem;
  background-color: rgba(220, 220, 220, 0.8);
  border-radius: 2px;
  text-align: center;

  &-title {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0 1rem;
  }

  &-img-top {
    width: 100%;
    padding: 1rem;
  }

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
  }
}