.footer {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  background-color:$color-primary;

  @media only screen and (max-width: $bp-medium) {
    flex-wrap: wrap;
  }

  &__copyright {
    width: 23rem;

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
      margin: auto;
      text-align: center;
    }
  }

  &__image {
    height: 5rem;

    @media only screen and (max-width: $bp-small) {
      height: 4rem;
    }
  }

  &__link-img {
    padding: 1rem;
  }
}

.maps {
  display: flex;
  align-items: center;
  height: 7rem;

  &__comments {
    padding: 1rem;
  }
}